.box{
    width: 400px;
    height: 200px;
    border: 2px solid tomato;
    overflow: scroll;
    margin-bottom: 10px;
}
.box2{
    width: 400px;
    height: 200px;
    border: 2px solid greenyellow;
    overflow: scroll;
}
.boxs{
    width: 100px;
    height: 100px;
    border: 2px solid red;
}
.outer{
    background-color: goldenrod;
}
.inner{
    background-color: aqua;
    transform: scale(0.5) rotate(50deg);
    text-align: center;
    font-size: 30px;
   
}